@charset "utf-8";
/* CSS Document */

html {
	overflow:hidden
}
.DirectoryPicker {
	font-weight:bold;
	width:75px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	white-space:nowrap;
	background-color:#696969;
	color:#FFF
}
.FormButton {
	font-weight:bold;
	width:75px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	white-space:nowrap;
	background-color:#696969;
	color:#FFF
}
.FormButtonWide {
	font-weight:bold;
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	white-space:nowrap;
	background-color:#696969;
	color:#FFF
}
.LuaButton {
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#696969;
	color:#FFF
}
.FilePicker {
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#696969;
	color:#FFF
}
.ToolNameLabel {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-size:12px;
	text-align:left;
	color:#000
}
.ToolPicker {
	font-weight:bold;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	width:50px;
	background-color:#696969;
	color:#FFF
}
.TableSizeMax {
	border:0;
	width:100%
}
.TableSize600 {
	width:600px;
	border:0
}
.PathTableSize600 {
	width:600px;
	border:0
}
.PathColumn1 {
	width:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.PathColumn2 {
	width:300px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
	color:#000
}
.PathColumn3 {
	width:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.FootTableSize600 {
	width:690px;
	border:0
}
.FootColumn1 {
	width:45px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.FootColumn2 {
	width:300px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
	color:#000
}
.FootColumn3 {
	width:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.FootColumn4 {
	width:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.Column1 {
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	white-space:nowrap;
	color:#000
}
.Column2 {
	width:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
	color:#000
}
.Column3 {
	width:250px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.alert-c {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	white-space:nowrap
}
.alert-l {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-shadow:5px 5px 10px #FFF;
	color:#FF0101;
	text-align:left;
	white-space:nowrap
}
.alert-r {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#00F;
	text-align:right;
	white-space:nowrap
}
.error {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#F00;
	text-align:left;
	white-space:nowrap;
	padding-right:4px;
	padding-left:10px;
	padding-top:4px;
	padding-bottom:4px
}
.errorMessage {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
	padding-right:4px;
	padding-left:10px;
	padding-top:4px;
	padding-bottom:4px
}
.errorTable {
	background-color:#FFF;
	white-space:nowrap
}
.p1-l {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	color:#000
}
.p1-c {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	color:#000
}
.p1-r {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:right;
	color:#000
}
.ver-c {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#ffd9b3
}
.h1-c {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.h1-l {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
	color:#000
}
.h1-r {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	white-space:nowrap;
	color:#000
}
.h1-rP {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	white-space:nowrap;
	padding-right:4px;
	padding-left:4px;
	color:#000
}
.h1-rPx {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	white-space:nowrap;
	padding-right:8px;
	padding-left:8px;
	color:#000
}
.h2-l {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#630;
	text-align:left;
	white-space:nowrap;
	text-shadow:2px 2px white;
	color:#000
}
.h2-c {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#630;
	text-align:center;
	white-space:nowrap;
	text-shadow:2px 2px white;
	color:#000
}
.h2-r {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000;
	text-align:right;
	white-space:nowrap;
	text-shadow:2px 2px white;
	color:#8E8D8A
}
.h3-bc {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	color:#000
}
.webLink-c {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	background-color:yellow;
	text-align:center;
	white-space:nowrap
}
.jsbutton {
	background-color:#630;
	border:2px solid #999;
	border-right-color:#000;
	border-bottom-color:#000;
	border-top-color:#FFF;
	border-left-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	font-size:12px;
	margin:1px 1px;
	color:#FFF
}
.jsTag-no-vis {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	display:none;
	text-align:center;
	color:#00F;
	visibility:hidden
}
body {
	background-color:#EAE7DC;
	background-position:center;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#8E8D8A;
}
html {
	overflow:hidden
}
